<div class="result">
  <img [src]="item.getPoster()" alt="item.getTitle()" class="img-thumbnail"/>
  <div class="result-info">
    <h3 class="text-primary" (click)="onItemClick()">{{item.getTitle()}}</h3>
    <h4>{{item.getYear()}}</h4>
  </div>
</div>
