@import '../../../assets/common';

.result {
  border: 1px solid #ddd;
  padding:10px;
  margin-bottom: 10px;

  img {
    @include alignment;
    width: $poster-width;
    height: $poster-height;
    margin-right: 10px;
  }
}

.result-info {
  @include alignment;
  height: $poster-height;

  h3 {
    font-weight: $movie-title-weight;
    cursor: pointer;
  }
}
