<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{applicationName}}</a>
    <div class="navbar-form navbar-left">
      <app-search [categories]="searchCategories"
              [tipsCount]="searchTipsCount"
              [tipField]="searchTipField"
              [service]="searchService"
              (submit)="onSearchSubmit($event)"
              (itemClick)="onSearchTipClick($event)">
      </app-search>
    </div>
  </div>
</nav>
<app-results [items]="movies" (itemClick)="onResultClick($event)"></app-results>
