<div class="container">
  <alert *ngIf="!items.length" type="info">No results found.</alert>
  <div *ngIf="items.length" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Results</h3>
    </div>
    <div class="panel-body">
      <app-result *ngFor="let item of items" [item]="item" (itemClick)="onItemClick($event)">
      </app-result>
    </div>
    <div class="panel-footer">Results count: {{items.length}}</div>
  </div>
</div>
