@import '../../../assets/common';

.poster {
  @include alignment;
  width: $poster-width / 2;
  height: $poster-height / 2;
  margin-right: 10px;
}

.info-box {
  @include alignment;

  h5 {
    font-weight: $movie-title-weight;
  }
}
