<template #movieSearchTemplate let-model="item" let-index="index">
  <img class="poster" [src]="model.getPoster()" alt="model.getTitle()"/>
  <div class="info-box">
    <h5>{{model.getTitle()}}</h5>
    <h6>{{model.getYear()}}</h6>
  </div>
</template>
<input [(ngModel)]="query"
       [typeahead]="tips"
       class="form-control"
       typeaheadOptionsLimit="{{tipsCount}}"
       typeaheadOptionField="{{tipField}}"
       [typeaheadItemTemplate]="movieSearchTemplate"
       (typeaheadOnSelect)="onTipClick($event)"
       placeholder="Search">
<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-default dropdown-toggle">
    {{selectedCategory}} <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li *ngFor="let category of categories" role="menuitem">
      <a class="dropdown-item" href="#" (click)="onSearchCategoryClick(category)">{{category}}</a>
    </li>
  </ul>
</div>
<button class="btn btn-success" [disabled]="isSearchButtonDisabled()" (click)="onSearchButtonClick()">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
</button>
